/*STYLE HEADER*/
body{
    background-image: url(https://1.bp.blogspot.com/-4c90ZKGOGmA/YGFX7DyQK7I/AAAAAAAAIMY/7SOJOJy7WQUOcmDbFA6WEe6zu4sh8IhqQCLcBGAsYHQ/s1920/pastel-kuning-hijau.jpg);
    background-size: contain;
    background-repeat: repeat;
}
.topnav{
    background-color: #CFAF89;
    height: 75px;
    width: 1368px;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;
}
.menu{
    margin-left: 80px;
    margin-top: -45px;
}
.menu a{
    text-decoration: none;
    color: black;
    font-family: 'Century Gothic';
    padding: 30px;

}
.iconlogo{
    width: 60px;
    margin-top: 9px;
    margin-left: 15px;
}
.iconuser{
    width: 30px;
    float: right;
    margin-top: -30px;
    margin-right: 60px;
    
}
.login_signup a{
    text-decoration: none;
    float: right;
    color: black;
    font-family: 'Century Gothic';
    font-size: 15px;
    padding: 15px;
}
.login_signup{
    margin-top: -10px;
}
.menudropdown{
    margin-left: 345px;
    margin-top: -21px;
}
.dropdown {
    display: none;
    list-style: none;
}
.dropdown li{
    margin-bottom: 20px;
}
.dropdown li a{
    color: black;
}
.menudropdown:hover .dropdown{
    display: block;
    position: absolute;
    background-color: #cfb089ad;
    padding: 10px;
}
.menu a:hover{
    color: white;
}

/*STYLE FOOTER*/
.end{
    background-color: #CFAF89;
    height: 56px;
    width: 1368px;
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: -10px;
    margin-top: 10px
}
.endteks p{
    text-align: center;
    margin-top: -25px;
    margin-bottom: 5px;
    font-family: 'Garamond';
}
.copyright{
    float: right;
    margin-top: -35px;
    margin-right: 20px;
}
.icon img{
    width: 30px;
    margin-left: 12px;
    margin-top: 12px;
}
#help{
    margin-top: -25px;
    margin-left: 210px;
}
.icon a{
    text-decoration: none;
    color: black;
    margin-left: 20px;
}

/*STYLE SHOES SIZE*/
.size{
    padding: 8px;
    font-size: 15pt;
}
.sizeshoes{
    margin-left: 250px;
}
.sizepic{
    margin-left: 450px;
    margin-top: -75px;
}
.sizepic img{
    width: 700px;
}

/*STYLE SHOES SHAPE*/
.pshoeshape{
    margin-top: 30px;
}
.shapelist{
    width: 1325px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}
.shape{
    width: 20%;
    margin: 0 auto;
}
.shape img{
    width: 120px;
    background-color: #BBBC77;
    padding-top: 0px;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
}
.pencet button{
    border: none;
    font-size: 14pt;
    font-family: monospace;
    padding: 8px 30px;
    border-radius: 10px;
    background-color: #a2a368;
    color: rgb(235, 223, 223);
}
.pencet{
    margin-top: -55px;
    margin-left: 19px;
}
.shapelist1{
    width: 1000px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin-left: 130px;
    margin-top: -19px;
}
.shape1{
    width: 20%;
    margin: 0 auto;
}
.shape1 img{
    width: 120px;
    background-color: #BBBC77;
    padding-top: 0px;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
}